.tools {
  background: -o-linear-gradient(213.88deg, #e29578 -2.06%, #83c5be 94.65%);
  background: linear-gradient(236.12deg, #e29578 -2.06%, #83c5be 94.65%);
  padding-block: 40px;
}
.tool-page-heading p {
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}
.tools-sub-container {
  margin: auto;
  max-width: 1325px;
  background-color: rgba(255, 255, 255, 0.189);
  border-radius: 25px;
  padding: 30px;
}
.tool-mobile-view div {
  margin-top: 30px;
  margin-bottom: 30px;
}
.tool-mobile-view {
  display: none;
}
.mobile-box-1 p {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: auto;
  padding: 8px 40px 8px 40px;
  margin-block: 10px;
}
.mobile-box-1 {
  padding-inline: 10px;
  border: 1px solid white;
  border-radius: 15px;
}
.mobile-box-1 P:nth-child(1) {
  border: none;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.5;
  line-height: 1;
}
.tool-pc-view img {
  width: 100%;
  /* -webkit-animation: pop linear;
  animation: pop linear;
  animation-timeline: view(); */
}
.tool-pc-view div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pc-view-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pc-view-flex-box img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 320px) {
  /* Styles for smaller smartphones */
  .tool-page-heading p {
    font-size: 30px;
  }
  .tool-mobile-view {
    display: block;
  }
  .tool-pc-view {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Styles for larger smartphones */
  .tool-page-heading p {
    font-size: 30px;
  }
  .tool-mobile-view {
    display: block;
  }
  .tool-pc-view {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .tool-page-heading p {
    font-size: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for small desktops and tablets in landscape */
  .tool-page-heading p {
    font-size: 40px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for larger desktops and laptops */
}
