.custom-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 688px !important;
  background-color: white;
  color: white;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: -40px;
}

.custom-sidebar.open {
  left: 0;
}

.custom-sidebar h2 {
  text-align: center;
  padding: 1rem 0;
}

.custom-sidebar ul {
  list-style-type: none;
  padding: 0;
  /* margin-top: 20%; */
  padding-top: 35%;
  padding-left: 22px;
}

.custom-sidebar ul a {
  padding: 6px;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  display: block;
}

.custom-sidebar ul a:hover {
  background-color: black;
  color: white;
}
.hamburger-button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
}
@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }

  .custom-sidebar {
    left: 0;
    width: 250px;
    position: static;
    height: auto;
  }
}

.front-side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.side-bar {
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.dropdown-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  margin-left: 1px;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.dropdown-btn a {
  font-size: 16px !important;
}
.dropdown-btn .fa-caret-down {
  margin-left: 8px;
}

.dropdown-container {
  display: none;
  min-width: 160px;
  margin-top: -18px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.dropdown-container a {
  padding: 6px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
}

.dropdown-container a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px !important;
}
.dropdown-container Link {
  font-size: 16px !important;
}

.dropdown-container.active {
  display: block;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .side-bar.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .custom-sidebar ul {
    padding: 0;
  }

  .custom-sidebar ul li {
    list-style-type: none;
  }

  .custom-sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
  }

  .custom-sidebar ul li a:hover {
    background-color: #575757;
  }

  .dropdown-btn {
    width: 100%;
    text-align: left;
    background-color: #333;
    border: none;
  }

  .dropdown-container a {
    padding-left: 30px;
  }
}

.custom-dropdown-btn {
  /* margin: 0; */
  margin-left: 30px;
  font-size: 24px;
}
