.our-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1440px;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.custom-crousol {
  max-width: 526px;
  width: 526px;
  min-height: 375px;
  background: url("../../../assets/images/slider-bg.png");
  background-size: cover;
  background-position: center;
  padding: 30px 50px 30px 50px;
}
@-webkit-keyframes rotateslider {
  0% {
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
  }
  25% {
    -webkit-transform: skewY(15deg);
    transform: skewY(15deg);
  }
  50% {
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
  }
}
@keyframes rotateslider {
  0% {
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
  }
  25% {
    -webkit-transform: skewY(15deg);
    transform: skewY(15deg);
  }
  50% {
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
  }
}
.carousel-item {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-top: 50px;
}

.about-client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.client-details p:nth-child(1) {
  color: black;
  margin: 0;
  font-weight: 700;
}
.client-details p:nth-child(2) {
  color: white;
  font-weight: 400;
}
.custom-btn {
  margin-top: 100px;
}
.custom-heading p {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1;
}
.custom-heading-mobile {
  display: none;
  font-size: 30px;
}
@media screen and (max-width: 320px) {
  .custom-crousol {
    padding: 30px 10px 30px 10px;
  }
  .custom-heading p {
    text-align: center;
    font-size: 30px !important;
  }
  .custom-heading {
    display: none;
  }
  .custom-heading-mobile {
    display: block;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .custom-crousol {
    padding: 30px 10px 30px 10px;
  }
  .custom-heading p {
    text-align: center;
    font-size: 30px !important;
  }
  .custom-heading {
    display: none;
  }
  .custom-heading-mobile {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
  .custom-heading p {
    text-align: center;
    font-size: 40px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for small desktops and tablets in landscape */
  .custom-heading p {
    text-align: center;
    font-size: 40px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .custom-heading p {
    text-align: center;
    font-size: 40px !important;
  }
}
.carousel-control-next {
  right: 0;
  top: 35%;
}
.carousel-control-prev {
  right: 0;
  top: 35%;
}
